/*
* This CSS belongs to https://jsfiddle.net/bootstrapious/3xnomecr
*/

/*
*
* ==========================================
* CUSTOM UTIL CLASSES
* ==========================================
*
*/

.circle-progress {
    width: 80px;
    height: 80px;
    background: none;
    position: relative;
  }
  
  .circle-progress>span {
    width: 50%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    z-index: 1;
  }
  
  .circle-progress .circle-progress-left {
    left: 0;
  }
  
  .circle-progress .circle-progress-bar {
    width: 100%;
    height: 100%;
    background: none;
    border-width: 6px;
    border-style: solid;
    position: absolute;
    top: 0;
  }
  
  .circle-progress .circle-progress-left .circle-progress-bar {
    left: 100%;
    border-top-right-radius: 80px;
    border-bottom-right-radius: 80px;
    border-left: 0;
    -webkit-transform-origin: center left;
    transform-origin: center left;
  }
  
  .circle-progress .circle-progress-right {
    right: 0;
  }
  
  .circle-progress .circle-progress-right .circle-progress-bar {
    left: -100%;
    border-top-left-radius: 80px;
    border-bottom-left-radius: 80px;
    border-right: 0;
    -webkit-transform-origin: center right;
    transform-origin: center right;
  }
  
  .circle-progress .circle-progress-value {
    position: absolute;
    top: 0;
    left: 0;
  }
  
  /*
  *
  * ==========================================
  * FOR DEMO PURPOSE
  * ==========================================
  *
  */
  
