<!DOCTYPE html>
<html lang="en">

<head>
    <title>Receipt</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/circle.css')}}">
    <style>
        .circle-progress::after {
            content: "";
            width: 100%;
            height: 100%;
            border-radius: 50%;

            border: 6px solid {{nonprogress_colour}};
            position: absolute;
            top: 0;
            left: 0;
        }
    </style>
</head>

<body style="margin:0px !important;">
    <page size="A4" style="margin:0px !important; font-family:helvetica, sans-serif; font-size: 16px;">
        <div class="row " style="height:60px; background-color:{{header_background_colour}};"></div>
        <div class="row" style="height:250px; background-color:{{header_background_colour}};">
            <div style="width:50px; background-color:{{header_background_colour}};"></div>
            <div class="col-4 no-gutters"
                style="height:250px; background-color: {{side_background_colour}};; font-size:16px;">
                <div class="row" style="height:70px;"></div>
                <div class="row">
                    <div class="col-1"></div>
                    <div class="col-10"
                        style="background-color: white; color:{{writing_colour2}}; font-size:16px; font-weight:bold;">
                        INFO
                    </div>
                    <div class="col-1"></div>
                </div>
                <div class="row">
                    <div class="col-1"></div>
                    <div class="col-10" style="color:{{writing_colour}}; font-size:16px;">
                        <div class="row" style="height:30px;"></div>
                        <div class="row">
                            <img src="{{email_url}}" alt="Email Icon" style="padding:0px 0px 0px 7px;" width=auto
                                height="22px">
                            <p style="padding:3px 0px 0px 15px;">{{c.details.email.lower()}}</p>
                        </div>
                        <div class="row" style="height:10px;"></div>
                        <div class="row">
                            <img src="{{phone_url}}" alt="Phone Icon" style="padding:0px 0px 0px 7px;" width=auto
                                height="20px">
                            <p style="padding:3px 0px 0px 15px;">{{c.details.mobile}}</p>
                        </div>
                        <div class="row" style="height:10px;"></div>
                        <div class="row">
                            <img src="{{linkedin_url}}" alt="LinkedIn Icon" style="padding:0px 6px 0px 8px;" width=auto
                                height="20px">
                            <p style="padding:3px 0px 0px 10px;">{{c.details.linkedin.lower()}}</p>
                        </div>
                    </div>
                    <div class="col-1"></div>
                </div>

            </div>
            <div class="col-7">
                <div class="row" style="height:60px;"></div>
                <div class="row d-flex justify-content-center align-items-center"
                    style="color:{{writing_colour}}; font-size:40px; font-weight:bold;">
                    {{c.details.name.upper()}}
                </div>
                <div class="row d-flex justify-content-center align-items-center"
                    style="color:{{writing_colour}}; font-size:20px; font-weight:bold;">
                    {{c.details.title.upper()}}
                </div>
            </div>
        </div>
        <div class="row">
            <div style="width:50px; background-color:white;"></div>
            <div class="col-4"
                style="height:2506px; color:{{writing_colour}}; background-color:{{side_background_colour}};;">
                <div class="row" style="height:17px;"></div>
                <div class="row">
                    <div class="col-1"></div>
                    <div class="col-10">
                        <div class="row" style="padding-top: 13px;">
                            <img src="{{gitlab_url}}" alt="GitLab Icon" width=auto height="35px" viewport=>
                            <p style="padding:5px 0px 0px 8px; font-size:16px;">{{c.details.gitlab.lower()}}</p>
                        </div>
                        <div class="row" style="height:10px;"></div>
                        <div class="row">
                            <div class="col-1 mr-auto" style="padding:0px 0px 0px 5px;"><img src="{{location_url}}"
                                    alt="GitLab Icon" width=auto height="25px" viewport=></div>
                            <div class="col-10 mr-auto" style="padding:0px 0px 0px 8px;">
                                <p style="padding:5px 0px 0px 0px; font-size:16px;">{{c.details.address}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-1"></div>
                </div>

                <div class="row" style="height:130px;"></div>
                <div class="row">
                    <div class="col-1"></div>
                    <div class="col-10"
                        style="background-color: white; color:{{writing_colour2}}; font-size:16px; font-weight:bold;">
                        TECHNICAL SKILLS
                    </div>
                    <div class="col-1"></div>
                </div>

                <div class="row" style="height:20px;"></div>
                {% for s in c.skills %}
                {% if s.sort == "Technical" %}
                <div class="row" style="height:10px;"></div>
                <div class="row">
                    <div class="col-1"></div>
                    <div class="col-10" style="color:{{writing_colour}}; font-size:16px;">
                        <div class="row" style="padding: 10px 0px 0px 0px;"></div>
                        <div class="row" style="padding:0px 15px 0px 15px;">{{s.name}}</div>
                        <div class="row" style="height:10px;"></div>
                        <div class="progress"
                            style="padding: 0px 0px 0px 0px !important; background-color:{{nonprogress_colour}};">
                            <div class="progress-bar" role="progressbar"
                                style="width: {{s.rating}}0%; background-color:{{progress_colour}} !important;"
                                aria-valuenow="{{s.rating}}0" aria-valuemin="0" aria-valuemax="100">
                            </div>
                        </div>

                    </div>
                    <div class="col-1"></div>
                </div>
                <div class="row" style="height:20px;"></div>
                {% endif %}
                {% endfor %}

                <div class="row" style="height:110px;"></div>
                <div class="row">
                    <div class="col-1"></div>
                    <div class="col-10"
                        style="background-color: white; color:{{writing_colour2}}; font-size:16px; font-weight:bold;">
                        PERSONAL SKILLS
                    </div>
                    <div class="col-1"></div>
                </div>
                <div class="row">
                    {% for s in c.skills %}
                    {% if s.sort == "General" %}
                    <div class="col-12">
                        <div class="row">
                            <div class="col-2"></div>
                            <div class="col-8 text-center" style="padding: 40px 0px 20px 0px;">{{s.name}}</div>
                            <div class="col-2"></div>
                        </div>
                        <div class="row">
                            <div class="circle-progress mx-auto" data-value='{{s.rating}}0'>
                                <span class="circle-progress-left">
                                    <span class="circle-progress-bar" style="border-color:{{progress_colour}};"></span>
                                </span>
                                <span class="circle-progress-right">
                                    <span class="circle-progress-bar" style="border-color:{{progress_colour}};"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>


                <div class="row" style="height:130px;"></div>
                <div class="row">
                    <div class="col-1"></div>
                    <div class="col-10"
                        style="background-color: white; color:{{writing_colour2}}; font-size:16px; font-weight:bold;">
                        HOBBIES & INTERESTS
                    </div>
                    <div class="col-1"></div>
                </div>
                <div class="row" style="height:20px;"></div>
                {% for i in c.interests %}
                <div class="row" style="height:20px;"></div>
                <div class="row">
                    <div class="col-1"></div>
                    <div class="col-10" style="font-size:16px;">
                        <div class="row">
                            <div class="col-1 mr-auto">
                                <img src="{{bullet_url}}"
                                    alt="Bullet Point" width=auto height="10px">
                            </div>
                            <div class="col-10 mr-auto" style="padding:2px 0px 0px 0px;>
                                <p font-size:16px;">{{i.name}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-1"></div>
                </div>
                <div class="row" style="height:15px;"></div>
                {% endfor %}

                <div class="row" style="height:115px;"></div>
                <div class="row">
                    <div class="col-1"></div>
                    <div class="col-10"
                        style="background-color: white; color:{{writing_colour2}}; font-size:16px; font-weight:bold;">
                        REFERENCES
                    </div>
                    <div class="col-1"></div>
                </div>
                <div class="row" style="height:20px;"></div>
                <div class="row">
                    <div class="col-1"></div>
                    <div class="col-10">
                        {{c.references}}
                    </div>
                    <div class="col-1"></div>
                </div>

            </div>
            <div class="col-7">
                <div class="row" style="height:40px;"></div>
                <div class="row">
                    <div class="col-1"></div>
                    <div class="col-10"
                        style="background-color: {{header_background_colour}}; color:{{writing_colour}}; font-size:16px; font-weight:bold;">
                        SUMMARY
                    </div>
                    <div class="col-1"></div>
                </div>

                <div class="row" style="height:20px;"></div>
                <div class="row">
                    <div class="col-1"></div>
                    <div class="col-10" style=" font-size:16px;">
                        {{c.summary.description}}
                    </div>
                    <div class="col-1"></div>
                </div>

                <div class="row" style="height:70px;"></div>
                <div class="row">
                    <div class="col-1"></div>
                    <div class="col-10"
                        style="background-color: {{header_background_colour}}; color:{{writing_colour}}; font-size:16px; font-weight:bold;">
                        PROJECTS
                    </div>
                    <div class="col-1"></div>
                </div>

                {% for p in proj %}
                <div class="row" style="height:40px;"></div>
                <div class="row">
                    <div class="col-1"></div>
                    <div class="col-10" style=" font-size:16px;">
                        <b>{{p.name}}</b>
                    </div>
                    <div class="col-1"></div>
                </div>

                <div class="row" style="height:10px;"></div>
                <div class="row">
                    <div class="col-1"></div>
                    <div class="col-10" style=" font-size:16px; white-space: pre-line;">
                        {{p.description}}
                    </div>
                    <div class="col-1"></div>
                </div>
                <div class="row" style="height:10px;"></div>
                {% endfor %}

                <div class="row" style="height:70px;"></div>
                <div class="row">
                    <div class="col-1"></div>
                    <div class="col-10"
                        style="background-color: {{header_background_colour}}; color:{{writing_colour}}; font-size:16px; font-weight:bold;">
                        EDUCATION
                    </div>
                    <div class="col-1"></div>
                </div>

                {% for e in edu %}
                <div class="row" style="height:40px;"></div>
                <div class="row">
                    <div class="col-1"></div>
                    <div class="col-10 text-right" style=" font-size:16px;">
                        <b>{{e.start_date.strftime("%b %Y")}} - {{e.end_date.strftime("%b %Y")}} </b>
                    </div>
                    <div class="col-1"></div>
                </div>
                <div class="row">
                    <div class="col-1"></div>
                    <div class="col-10" style=" font-size:16px;">
                        <b>{{e.course}} - {{e.school}}</b>
                    </div>
                    <div class="col-1"></div>
                </div>
                <div class="row">
                    <div class="col-1"></div>
                    <div class="col-10" style=" font-size:16px;">
                        {% if e.grade %}
                        Grade: {{e.grade}}
                        {% else %}
                        Grade: {{e.expected_grade}} (expected)
                        {% endif %}
                    </div>
                    <div class="col-1"></div>
                </div>

                <div class="row" style="height:10px;"></div>
                <div class="row">
                    <div class="col-1"></div>
                    <div class="col-10" style=" font-size:16px; white-space: pre-line;">
                        {{e.description}}
                    </div>
                    <div class="col-1"></div>
                </div>
                <div class="row" style="height:10px;"></div>
                {% endfor %}


                <div class="row" style="height:70px;"></div>
                <div class="row">
                    <div class="col-1"></div>
                    <div class="col-10"
                        style="background-color: {{header_background_colour}}; color:{{writing_colour}}; font-size:16px; font-weight:bold;">
                        EXPERIENCE
                    </div>
                    <div class="col-1"></div>
                </div>

                {% for e in exp %}
                {% if e.sort == "Part-time" or e.sort == "Full-time" %}
                <div class="row" style="height:40px;"></div>
                <div class="row">
                    <div class="col-1"></div>
                    <div class="col-10 text-right" style=" font-size:16px;">
                        <b>{{e.start_date.strftime("%b %Y")}} -
                            {% if e.end_date.strftime("%d-%m-%Y") == "11-11-9999" %}
                            Current
                            {% else %}
                            {{e.end_date.strftime("%b %Y")}}
                            {% endif %}
                        </b>
                    </div>
                    <div class="col-1"></div>
                </div>
                <div class="row">
                    <div class="col-1"></div>
                    <div class="col-10" style=" font-size:16px;">
                        <b>{{e.title}} - {{e.sort}}</b>
                    </div>
                    <div class="col-1"></div>
                </div>
                <div class="row">
                    <div class="col-1"></div>
                    <div class="col-10" style=" font-size:16px;">
                        {{e.workplace}} - {{e.location}}
                    </div>
                    <div class="col-1"></div>
                </div>

                <div class="row">
                    <div class="col-1"></div>
                    <div class="col-10" style="font-size:16px; white-space: pre-line;">
                        {{e.description}}
                    </div>
                    <div class="col-1"></div>
                </div>
                <div class="row" style="height:10px;"></div>
                {% endif %}
                {% endfor %}

                {% for e in exp %}
                {% if e.sort == "Work Experience" %}
                <div class="row" style="height:40px;"></div>
                <div class="row">
                    <div class="col-1"></div>
                    <div class="col-10 text-right" style=" font-size:16px;">
                        <b>{{e.start_date.strftime("%b %Y")}} -
                            {% if e.end_date.strftime("%d-%m-%Y") == "11-11-9999" %}
                            Current
                            {% else %}
                            {{e.end_date.strftime("%b %Y")}}
                            {% endif %}
                        </b>
                    </div>
                    <div class="col-1"></div>
                </div>
                <div class="row">
                    <div class="col-1"></div>
                    <div class="col-10" style=" font-size:16px;">
                        <b>{{e.title}} - {{e.sort}}</b>
                    </div>
                    <div class="col-1"></div>
                </div>
                <div class="row">
                    <div class="col-1"></div>
                    <div class="col-10" style=" font-size:16px;">
                        {{e.workplace}} - {{e.location}}
                    </div>
                    <div class="col-1"></div>
                </div>

                <div class="row">
                    <div class="col-1"></div>
                    <div class="col-10" style="font-size:16px; white-space: pre-line;">
                        {{e.description}}
                    </div>
                    <div class="col-1"></div>
                </div>
                <div class="row" style="height:10px;"></div>
                {% endif %}
                {% endfor %}

                {% for e in exp %}
                {% if e.sort == "Volunteering" %}
                <div class="row" style="height:40px;"></div>
                <div class="row">
                    <div class="col-1"></div>
                    <div class="col-10 text-right" style=" font-size:16px;">
                        <b>{{e.start_date.strftime("%b %Y")}} -
                            {% if e.end_date.strftime("%d-%m-%Y") == "11-11-9999" %}
                            Current
                            {% else %}
                            {{e.end_date.strftime("%b %Y")}}
                            {% endif %}
                        </b>
                    </div>
                    <div class="col-1"></div>
                </div>
                <div class="row">
                    <div class="col-1"></div>
                    <div class="col-10" style=" font-size:16px;">
                        <b>{{e.title}} - {{e.sort}}</b>
                    </div>
                    <div class="col-1"></div>
                </div>
                <div class="row">
                    <div class="col-1"></div>
                    <div class="col-10" style=" font-size:16px;">
                        {{e.workplace}} - {{e.location}}
                    </div>
                    <div class="col-1"></div>
                </div>

                <div class="row">
                    <div class="col-1"></div>
                    <div class="col-10" style="font-size:16px; white-space: pre-line;">
                        {{e.description}}
                    </div>
                    <div class="col-1"></div>
                </div>
                <div class="row" style="height:10px;"></div>
                {% endif %}
                {% endfor %}

            </div>
        </div>
    </page>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>

    <script type="text/javascript" src="{{url_for('static', filename='js/circle.js')}}"></script>

    <script>/*
* This JS belongs to https://jsfiddle.net/bootstrapious/3xnomecr
*/

        $(function () {

            $(".circle-progress").each(function () {

                var value = $(this).attr('data-value');
                var left = $(this).find('.circle-progress-left .circle-progress-bar');
                var right = $(this).find('.circle-progress-right .circle-progress-bar');

                if (value > 0) {
                    if (value <= 50) {
                        right.css('transform', 'rotate(' + percentageToDegrees(value) + 'deg)')
                    } else {
                        right.css('transform', 'rotate(180deg)')
                        left.css('transform', 'rotate(' + percentageToDegrees(value - 50) + 'deg)')
                    }
                }

            })

            function percentageToDegrees(percentage) {

                return percentage / 100 * 360

            }

        });
    </script>



</body>

</html>