{% extends "navbar.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-lg">
            <h2>CVs</h2>
            <h5 style="color:red;">Check The Contents Of The CV Are Correct Before Confirming The Create CV Form </h5>
        </div>
    </div>

    <div class="row">
        <div class="col-lg">
            <table id="table" class="table table-hover">

                <!-- Table Header -->
                <thead class="thead-light">
                    <tr>
                        <th>
                            Name
                        </th>
                        <th>
                            Generate CV PDF
                        </th>
                        <th>
                            View CV PDF
                        </th>
                        <th>
                            Generate Letter PDF
                        </th>
                        <th>
                            View Letter PDF
                        </th>
                        <th>
                            Delete
                        </th>
                    </tr>
                </thead>
                <tbody>

                    {% for c in cv %}
                    <tr>
                        <td>
                            {{c.name}}
                        </td>
                        {% if c.generated %}
                        <td></td>
                        <td>
                            <a class="btn btn-dark" href="{{url_for('cvs.viewCv', id=c.id)}}"
                                role="button">View</a>
                        </td>
                        {% else %}
                        <td>
                            <a class="btn btn-success" href="{{url_for('cvs.generateCv', id=c.id)}}"
                                role="button">Generate</a>
                        </td>
                        <td></td>
                        {% endif %}
                        {% if c.letter.generated %}
                        <td></td>
                        <td>
                            <a class="btn btn-dark" href="{{url_for('cvs.viewLetter', id=c.id)}}"
                                role="button">View</a>
                        </td>
                        {% else %}
                        <td>
                            <a class="btn btn-success" href="{{url_for('cvs.generateLetter', id=c.id)}}"
                                role="button">Generate</a>
                        </td>
                        <td></td>
                        {% endif %}
                        <td>
                            <a class="btn btn-danger" href="{{url_for('cvs.deleteCv', id=c.id)}}"
                                role="button">Delete</a>
                        </td>
                    </tr>
                    {% endfor %}

                </tbody>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col-sm">
            <btn class="btn-primary btn" data-toggle="modal" data-target="#addCvModal">
                Create CV
            </btn>
        </div>
    </div>

    <div class="modal fade" id="addCvModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Create CV</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <!-- Form Contents -->
                <div class="modal-body">
                    <form method="post">
                        {{ form.csrf_token }}
                        <div class="form-group">
                            {{ wtf.form_field(form.name) }}
                        </div>
                        <div>
                            <p >Summary:<br>
                                {{summary.description}}
                            </p>
                        </div>
                        <div>
                            <p >Projects:<br>
                                {% for p in project %}
                                {{p.name}}<br>
                                {% endfor %}
                            </p>
                            
                        </div>
                        <div>
                            <p >Work Experience:<br>
                                {% for e in experience %}
                                {{e.workplace}} - {{e.title}}<br>
                                {% endfor %}
                            </p>
                            
                        </div>
                        <div>
                            <p >Education:<br>
                                {% for e in education %}
                                {{e.school}} - {{e.course}}<br>
                                {% endfor %}
                            </p>
                            
                        </div>
                        <div>
                            <p >Skills:<br>
                                {% for s in skill %}
                                {{s.name}} - {{s.sort}}<br>
                                {% endfor %}
                            </p>
                            
                        </div>
                        <div>
                            <p >Interests & Hobbies:<br>
                                {% for i in interest %}
                                {{i.name}}<br>
                                {% endfor %}
                            </p>
                            
                        </div>
                        <div class="form-group">
                            <input class="btn btn-primary" type="submit" name="submit_button"
                                value="Add CV"></input>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}