<!DOCTYPE html>
<html lang="en">

<head>
    <title>CV - {{title}} | CV Generator</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <div class="containter">
        <embed src="{{ cv_url }}" type="application/pdf" width="100%" height="1000px"/>
    </div>
</body>

</html>
