{% extends "navbar.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block scripts %}

{{super()}}

<script>
    $('#editEducationModal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget) // Button that triggered the modal
        var id = button.data('id')
        var school = button.data('school') // Extract info from data-* attributes
        var course = button.data('course')
        var confirmed = button.data('confirmed')
        var grade = button.data('grade')
        var expected_grade = button.data('expected_grade')
        var start_date = button.data('start_date')
        var end_date = button.data('end_date')
        var description = button.data('description')
        var modal = $(this)

        modal.find('.modal-id input').val(id)
        modal.find('.modal-school input').val(school)
        modal.find('.modal-course input').val(course)
        modal.find('.modal-confirmed select').val(confirmed)
        modal.find('.modal-grade input').val(grade)
        modal.find('.modal-expected_grade input').val(expected_grade)
        modal.find('.modal-start_date input').val(start_date)
        modal.find('.modal-end_date input').val(end_date)
        modal.find('.modal-description textarea').val(description)
    })
</script>

{% endblock scripts %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-lg">
            <h2>Education</h2>
            <h5 style="color:red;">Description White Space Preserved. Use Additional Line Breaks ('Enter'), to Format </h5>
        </div>
    </div>

    <div class="row">
        <div class="col-lg">
            <table id="table" class="table table-hover">

                <!-- Table Header -->
                <thead class="thead-light">
                    <tr>
                        <th>
                            School
                        </th>
                        <th>
                            Course
                        </th>
                        <th>
                            Grade
                        </th>
                        <th>
                            Start Date
                        </th>
                        <th>
                            End date
                        </th>
                        <th>
                            Active
                        </th>
                        <th>
                            Edit
                        </th>
                        <th>
                            Delete
                        </th>
                    </tr>
                </thead>
                <tbody>

                    {% for e in education %}
                    <tr>
                        <td>
                            {{e.school}}
                        </td>
                        <td>
                            {{e.course}}
                        </td>
                        {% if e.grade %}
                        <td>
                            {{e.grade}}
                        </td>
                        <td>
                            {{e.start_date.strftime('%d/%m/%Y')}}
                        </td>
                        <td>
                            {{e.end_date.strftime('%d/%m/%Y')}}
                        </td>
                        {% if e.active %}
                        <td>
                            <a class="btn btn-warning" href="{{url_for('educations.inactivateEducation', id=e.id)}}"
                                role="button">Inactivate</a>
                        </td>
                        {% else %}
                        <td>
                            <a class="btn btn-success" href="{{url_for('educations.activateEducation', id=e.id)}}"
                                role="button">Activate</a>
                        </td>
                        {% endif %}
                        <td>
                            <btn class="btn-dark btn" data-toggle="modal" data-target="#editEducationModal"
                                data-school="{{e.school}}" data-course="{{e.course}}" data-grade="{{e.grade}}"
                                data-start_date="{{e.start_date.strftime('%d/%m/%Y')}}"
                                data-end_date="{{e.end_date.strftime('%d/%m/%Y')}}"
                                data-id="{{e.id}}" data-confirmed="Confirmed" data-description="{{e.description}}">
                                Edit
                            </btn>
                        </td>
                        {% else %}
                        <td>
                            Expected: {{e.expected_grade}}
                        </td>
                        <td>
                            {{e.start_date.strftime('%d/%m/%Y')}}
                        </td>
                        <td>
                            {{e.end_date.strftime('%d/%m/%Y')}}
                        </td>
                        {% if e.active %}
                        <td>
                            <a class="btn btn-warning" href="{{url_for('educations.inactivateEducation', id=e.id)}}"
                                role="button">Inactivate</a>
                        </td>
                        {% else %}
                        <td>
                            <a class="btn btn-success" href="{{url_for('educations.activateEducation', id=e.id)}}"
                                role="button">Activate</a>
                        </td>
                        {% endif %}
                        <td>
                            <btn class="btn-dark btn" data-toggle="modal" data-target="#editEducationModal"
                                data-school="{{e.school}}" data-course="{{e.course}}" data-grade="{{e.expected_grade}}"
                                data-start_date="{{e.start_date.strftime('%d/%m/%Y')}}"
                                data-end_date="{{e.end_date.strftime('%d/%m/%Y')}}"
                                data-id="{{e.id}}" data-confirmed="Expected" data-description="{{e.description}}">
                                Edit
                            </btn>
                        </td>
                        {% endif %}
                        <td>
                            <a class="btn btn-danger" href="{{url_for('educations.deleteEducation', id=e.id)}}"
                                role="button">Delete</a>
                        </td>
                    </tr>
                    {% endfor %}

                </tbody>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col-sm">
            <btn class="btn-primary btn" data-toggle="modal" data-target="#addEducationModal">
                Add Education
            </btn>
        </div>
    </div>

    <div class="modal fade" id="addEducationModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add Education Entry</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <!-- Form Contents -->
                <div class="modal-body">
                    <form method="post">
                        {{ form.csrf_token }}
                        <div class="form-group">
                            {{ wtf.form_field(form.school) }}
                        </div>
                        <div class="form-group">
                            {{ wtf.form_field(form.course) }}
                        </div>
                        <div class="form-group">
                            {{ wtf.form_field(form.grade) }}
                        </div>
                        <div class="form-group">
                            {{ wtf.form_field(form.confirmed) }}
                        </div>
                        <div class="form-group">
                            {{ wtf.form_field(form.start_date) }}
                        </div>
                        <div class="form-group">
                            {{ wtf.form_field(form.end_date) }}
                        </div>
                        <div class="form-group modal-end_date">
                            {{ wtf.form_field(form.description) }}
                        </div>
                        <div class="form-group">
                            <input class="btn btn-primary" type="submit" name="submit_button"
                                value="Add Education"></input>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>



    <div class="modal fade" id="editEducationModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Edit Education Entry</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <!-- Form Contents -->
                <div class="modal-body">
                    <form method="post">
                        {{ form.csrf_token }}
                        <div class="form-group modal-id">
                            {{ wtf.form_field(eform.id) }}
                        </div>
                        <div class="form-group modal-school">
                            {{ wtf.form_field(eform.school) }}
                        </div>
                        <div class="form-group modal-course">
                            {{ wtf.form_field(eform.course) }}
                        </div>
                        <div class="form-group modal-confirmed">
                            {{ wtf.form_field(eform.confirmed) }}
                        </div>
                        <div class="form-group modal-grade">
                            {{ wtf.form_field(eform.grade) }}
                        </div>
                        <div class="form-group modal-start_date">
                            {{ wtf.form_field(eform.start_date) }}
                        </div>
                        <div class="form-group modal-end_date">
                            {{ wtf.form_field(eform.end_date) }}
                        </div>
                        <div class="form-group modal-description">
                            {{ wtf.form_field(eform.description) }}
                        </div>
                        <div class="form-group">
                            <input class="btn btn-primary" type="submit" name="submit_button"
                                value="Save Changes"></input>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}