<!DOCTYPE html>
<html lang="en">

<head>
    <title>Letter</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<body style="margin:0px !important;">
    <page size="A4" style="margin:0px !important; font-family:garmond;">
        <div class="row " style="height:60px; background-color:{{header_background_colour}};"></div>
        <div class="row" style="height:250px; background-color:{{header_background_colour}};">
            <div style="width:50px; background-color:{{header_background_colour}};"></div>
            <div class="col-4 no-gutters"
                style="height:250px; background-color: {{side_background_colour}};; font-size:13.5px;">
                <div class="row" style="height:70px;"></div>
                <div class="row">
                    <div class="col-1"></div>
                    <div class="col-10"
                        style="background-color: white; color:{{writing_colour2}}; font-size:15px; font-weight:bold;">
                        INFO
                    </div>
                    <div class="col-1"></div>
                </div>
                <div class="row">
                    <div class="col-1"></div>
                    <div class="col-10" style="color:{{writing_colour}}; font-size:13.5px;">
                        <div class="row" style="height:30px;"></div>
                        <div class="row">
                            <img src="{{email_url}}" alt="Email Icon" style="padding:0px 0px 0px 7px;" width=auto
                                height="22px">
                            <p style="padding:3px 0px 0px 15px;">{{c.details.email.lower()}}</p>
                        </div>
                        <div class="row" style="height:10px;"></div>
                        <div class="row">
                            <img src="{{phone_url}}" alt="Phone Icon" style="padding:0px 0px 0px 7px;" width=auto
                                height="20px">
                            <p style="padding:3px 0px 0px 15px;">{{c.details.mobile}}</p>
                        </div>
                        <div class="row" style="height:10px;"></div>
                        <div class="row">
                            <img src="{{linkedin_url}}" alt="LinkedIn Icon" style="padding:0px 6px 0px 8px;" width=auto
                                height="20px">
                            <p style="padding:3px 0px 0px 10px;">{{c.details.linkedin.lower()}}</p>
                        </div>
                    </div>
                    <div class="col-1"></div>
                </div>

            </div>
            <div class="col-7">
                <div class="row" style="height:60px;"></div>
                <div class="row d-flex justify-content-center align-items-center"
                    style="color:{{writing_colour}}; font-size:40px; font-weight:bold;">
                    {{c.details.name.upper()}}
                </div>
                <div class="row d-flex justify-content-center align-items-center"
                    style="color:{{writing_colour}}; font-size:20px; font-weight:bold;">
                    {{c.details.title.upper()}}
                </div>
            </div>
        </div>
        <div class="row">
            <div style="width:50px; background-color:white;"></div>
            <div class="col-4"
                style="height:1080px; color:{{writing_colour}}; background-color:{{side_background_colour}};;">
                <div class="row" style="height:17px;"></div>
                <div class="row">
                    <div class="col-1"></div>
                    <div class="col-10">
                        <div class="row">
                            <img src="{{gitlab_url}}" alt="GitLab Icon" width=auto height="35px" viewport=>
                            <p style="padding:5px 0px 0px 8px; font-size:13.5px;">{{c.details.gitlab.lower()}}</p>
                        </div>
                        <div class="row" style="height:10px;"></div>
                        <div class="row">
                            <div class="col-1 mr-auto" style="padding:0px 0px 0px 5px;"><img src="{{location_url}}"
                                    alt="GitLab Icon" width=auto height="25px" viewport=></div>
                            <div class="col-10 mr-auto" style="padding:0px 0px 0px 8px;">
                                <p style="padding:5px 0px 0px 0px; font-size:13.5px;">{{c.details.address}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-1"></div>
                </div>
            </div>
            <div class="col-7">
                <div class="row" style="height:80px;"></div>
                <div class="row">
                    <div class="col-1"></div>
                    <div class="col-10" style=" font-size:13.5px;">
                        {{c.letter.content.description}}
                    </div>
                    <div class="col-1"></div>
                </div>
            </div>
        </div>
    </page>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>



</body>

</html>