{% extends "bootstrap/base.html" %}

{% block styles %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

<link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='images/logo.png') }}">

<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/circle.css')}}">
{% endblock %}


{% block scripts %}

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>

<script  type="text/javascript" src="{{url_for('static', filename='js/circle.js')}}"></script>

{% endblock %}



{% block title %} {{title}} | CV Generator {% endblock %}


{% block navbar %}
<nav class="navbar navbar-expand-lg navbar-light" style="background-color:#FFFFFF; ">

    <a class="navbar-brand" href="{{ url_for('cvs.cv') }}">
        <img class="img-fluid" id="brand-image" src="{{ url_for('static', filename='images/logo.png')}}"
            class="img-responsive" alt="">
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation"><span
            class="navbar-toggler-icon"></span></button>

    <div class="collapse navbar-collapse" id="navbarNavDropdown">

        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="{{ url_for('cvs.cv') }}">CVs<span
                        class="sr-only">(current)</span></a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('details.personalDetails') }}">Personal Details</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('letters.content') }}"> Letter Content</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('summaries.summary') }}"> Personal Summaries</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('projects.project') }}">Projects</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('educations.education') }}">Education</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('experiences.workExperience') }}">Work Experience</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('skills.skill') }}">Skills</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('interests.interest') }}">Interests & Hobbies</a>
            </li>
        </ul>
    </div>
</nav>
{% endblock %}

{% block content %}

{% endblock %}
