{% extends "navbar.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block styles %}
{{super()}}

<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/styles.css')}}" />
{% endblock styles %}

{% block scripts %}

{{super()}}

<script>
    $('#editDetailsModal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget) // Button that triggered the modal
        var name = button.data('name') // Extract info from data-* attributes
        var title = button.data('title')
        var mobile = button.data('mobile')
        var email = button.data('email')
        var linkedin = button.data('linkedin')
        var gitlab = button.data('gitlab')
        var address = button.data('address')
        var modal = $(this)

        modal.find('.modal-name input').val(name)
        modal.find('.modal-title input').val(title)
        modal.find('.modal-mobile input').val(mobile)
        modal.find('.modal-email input').val(email)
        modal.find('.modal-linkedin input').val(linkedin)
        modal.find('.modal-gitlab input').val(gitlab)
        modal.find('.modal-address input').val(address)
    })
</script>

{% endblock scripts %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm">
            <h2>Personal Details</h2>
            <h5 style="color:red;">Fill In All Details</h5>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-10 col-xl-8">

            <table id="table" class="table table-hover">

                <!-- Table Header -->
                <thead class="thead-light">
                    <tr>
                        <th>
                            Personal Detail
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>

                    <tr>
                        <td>
                            Full Name:
                        </td>
                        <td>
                            {{ details.name }}
                        </td>
                    </tr>

                    <tr>
                        <td>
                            Title:
                        </td>
                        <td>
                            {{ details.title }}
                        </td>
                    </tr>

                    <tr>
                        <td>
                            Mobile Number:
                        </td>
                        <td>
                            {{ details.mobile }}
                        </td>
                    </tr>

                    <tr>
                        <td>
                            Email Address:
                        </td>
                        <td>
                            {{ details.email }}
                        </td>
                    </tr>

                    <tr>
                        <td>
                            LinkedIn:
                        </td>
                        <td>
                            {{ details.linkedin }}
                        </td>
                    </tr>

                    <tr>
                        <td>
                            GitLab:
                        </td>
                        <td>
                            {{ details.gitlab }}
                        </td>
                    </tr>

                    <tr>
                        <td>
                            Address:
                        </td>
                        <td>
                            {{ details.address }}
                        </td>
                    </tr>

                </tbody>
            </table>

            {% if details %}
            <btn class="btn-dark btn" data-toggle="modal" data-target="#editDetailsModal" data-name="{{details.name}}"
                data-title="{{details.title}}" data-mobile="{{details.mobile}}" data-email="{{details.email}}"
                data-linkedin="{{details.linkedin}}" data-gitlab="{{details.gitlab}}" data-address="{{details.address}}">
                Edit Details
            </btn>
            {% else %}

            <btn class="btn-primary btn" data-toggle="modal" data-target="#addDetailsModal" data-name="{{details.name}}"
                data-title="{{details.title}}" data-mobile="{{details.mobile}}" data-email="{{details.email}}"
                data-linkedin="{{details.linkedin}}" data-gitlab="{{details.gitlab}}">
                Add Details
            </btn>

            {% endif %}


        </div>
    </div>

    <div class="modal fade" id="addDetailsModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add Personal Details</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <!-- Form Contents -->
                <div class="modal-body">
                    <form method="post">
                        {{ form.csrf_token }}
                        <div class="form-group modal-name">
                            {{ wtf.form_field(form.name) }}
                        </div>
                        <div class="form-group modal-title">
                            {{ wtf.form_field(form.title) }}
                        </div>
                        <div class="form-group modal-mobile">
                            {{ wtf.form_field(form.mobile) }}
                        </div>
                        <div class="form-group modal-email">
                            {{ wtf.form_field(form.email) }}
                        </div>
                        <div class="form-group modal-linkedin">
                            {{ wtf.form_field(form.linkedin) }}
                        </div>
                        <div class="form-group modal-gitlab">
                            {{ wtf.form_field(form.gitlab) }}
                        </div>
                        <div class="form-group modal-address">
                            {{ wtf.form_field(form.address) }}
                        </div>
                        <div class="form-group">
                            <input class="btn btn-primary" type="submit" name="submit_button"
                                value="Add Details"></input>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" id="editDetailsModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Edit Personal Details</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <!-- Form Contents -->
                <div class="modal-body">
                    <form method="post">
                        {{ form.csrf_token }}
                        <div class="form-group modal-name">
                            {{ wtf.form_field(form.name) }}
                        </div>
                        <div class="form-group modal-title">
                            {{ wtf.form_field(form.title) }}
                        </div>
                        <div class="form-group modal-mobile">
                            {{ wtf.form_field(form.mobile) }}
                        </div>
                        <div class="form-group modal-email">
                            {{ wtf.form_field(form.email) }}
                        </div>
                        <div class="form-group modal-linkedin">
                            {{ wtf.form_field(form.linkedin) }}
                        </div>
                        <div class="form-group modal-gitlab">
                            {{ wtf.form_field(form.gitlab) }}
                        </div>
                        <div class="form-group modal-address">
                            {{ wtf.form_field(form.address) }}
                        </div>
                        <div class="form-group">
                            <input class="btn btn-primary" type="submit" name="submit_button"
                                value="Save Changes"></input>
                        </div>

                    </form>
                </div>
            </div>
        </div>


    </div>
</div>
{% endblock content %}