{% extends "navbar.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block scripts %}

{{super()}}

<script>
    $('#editProjectModal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget) // Button that triggered the modal
        var id = button.data('id')
        var name = button.data('name') // Extract info from data-* attributes
        var description = button.data('description')
        var modal = $(this)

        modal.find('.modal-id input').val(id)
        modal.find('.modal-name input').val(name)
        modal.find('.modal-description textarea').val(description)
    })
</script>

{% endblock scripts %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-lg">
            <h2>Projects</h2>
            <h5 style="color:red;">Description White Space Preserved. Use Additional Line Breaks ('Enter'), to Format </h5>
        </div>
    </div>

    <div class="row">
        <div class="col-lg">
            <table id="table" class="table table-hover">

                <!-- Table Header -->
                <thead class="thead-light">
                    <tr>
                        <th>
                            Project Name
                        </th>
                        <th>
                            Active
                        </th>
                        <th>
                            Edit
                        </th>
                        <th>
                            Delete
                        </th>
                    </tr>
                </thead>
                <tbody>

                    {% for p in project %}
                    <tr>
                        <td>
                            {{p.name}}
                        </td>
                        {% if p.active %}
                        <td>
                            <a class="btn btn-warning" href="{{url_for('projects.inactivateProject', id=p.id)}}"
                                role="button">Inactivate</a>
                        </td>
                        {% else %}
                        <td>
                            <a class="btn btn-success" href="{{url_for('projects.activateProject', id=p.id)}}"
                                role="button">Activate</a>
                        </td>
                        {% endif %}
                        <td>
                            <btn class="btn-dark btn" data-toggle="modal" data-target="#editProjectModal"
                                data-name="{{p.name}}" data-id="{{p.id}}" data-description="{{p.description}}">
                                Edit
                            </btn>
                        </td>
                        <td>
                            <a class="btn btn-danger" href="{{url_for('projects.deleteProject', id=p.id)}}"
                                role="button">Delete</a>
                        </td>
                    </tr>
                    {% endfor %}

                </tbody>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col-sm">
            <btn class="btn-primary btn" data-toggle="modal" data-target="#addProjectModal">
                Add Project
            </btn>
        </div>
    </div>

    <div class="modal fade" id="addProjectModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add Project Entry</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <!-- Form Contents -->
                <div class="modal-body">
                    <form method="post">
                        {{ form.csrf_token }}
                        <div class="form-group">
                            {{ wtf.form_field(form.name) }}
                        </div>
                        <div class="form-group">
                            {{ wtf.form_field(form.description) }}
                        </div>
                        <div class="form-group">
                            <input class="btn btn-primary" type="submit" name="submit_button"
                                value="Add Project"></input>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>



    <div class="modal fade" id="editProjectModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Edit Project Entry</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <!-- Form Contents -->
                <div class="modal-body">
                    <form method="post">
                        {{ form.csrf_token }}
                        <div class="form-group modal-id">
                            {{ wtf.form_field(eform.id) }}
                        </div>
                        <div class="form-group modal-name">
                            {{ wtf.form_field(eform.name) }}
                        </div>
                        <div class="form-group modal-description">
                            {{ wtf.form_field(eform.description) }}
                        </div>
                        <div class="form-group">
                            <input class="btn btn-primary" type="submit" name="submit_button"
                                value="Save Changes"></input>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}