{% extends "navbar.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block scripts %}

{{super()}}

<script>
    $('#editSummaryModal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget) // Button that triggered the modal
        var id = button.data('id')
        var name = button.data('name') // Extract info from data-* attributes
        var description = button.data('description')
        var modal = $(this)

        modal.find('.modal-id input').val(id)
        modal.find('.modal-name input').val(name)
        modal.find('.modal-description textarea').val(description)
    })
</script>

{% endblock scripts %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-lg">
            <h2>Personal Summaries</h2>
            <h5 style="color:red;">Activate ONE Summary Only</h5>
            <h5 style="color:red;">Description White Space Preserved. Use Additional Line Breaks ('Enter'), to Format </h5>
        </div>
    </div>

    <div class="row">
        <div class="col-lg">
            <table id="table" class="table table-hover">

                <!-- Table Header -->
                <thead class="thead-light">
                    <tr>
                        <th>
                            Name
                        </th>
                        <th>
                            Active
                        </th>
                        <th>
                            Edit
                        </th>
                        <th>
                            Delete
                        </th>
                    </tr>
                </thead>
                <tbody>

                    {% for s in summary %}
                    <tr>
                        <td>
                            {{s.name}}
                        </td>
                        {% if s.active %}
                        <td>
                            <a class="btn btn-warning" href="{{url_for('summaries.inactivateSummary', id=s.id)}}"
                                role="button">Inactivate</a>
                        </td>
                        {% else %}
                        <td>
                            <a class="btn btn-success" href="{{url_for('summaries.activateSummary', id=s.id)}}"
                                role="button">Activate</a>
                        </td>
                        {% endif %}
                        <td>
                            <btn class="btn-dark btn" data-toggle="modal" data-target="#editSummaryModal"
                                data-workplace="{{s.name}}" data-description="{{s.description}}"
                                data-id="{{s.id}}">
                                Edit
                            </btn>
                        </td>
                        <td>
                            <a class="btn btn-danger" href="{{url_for('summaries.deleteSummary', id=s.id)}}"
                                role="button">Delete</a>
                        </td>
                    </tr>
                    {% endfor %}

                </tbody>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col-sm">
            <btn class="btn-primary btn" data-toggle="modal" data-target="#addSummaryModal">
                Add Summary
            </btn>
        </div>
    </div>

    <div class="modal fade" id="addSummaryModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add Summary Entry</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <!-- Form Contents -->
                <div class="modal-body">
                    <form method="post">
                        {{ form.csrf_token }}
                        <div class="form-group">
                            {{ wtf.form_field(form.name) }}
                        </div>
                        <div class="form-group">
                            {{ wtf.form_field(form.description) }}
                        </div>
                        <div class="form-group">
                            <input class="btn btn-primary" type="submit" name="submit_button"
                                value="Add Summary"></input>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>



    <div class="modal fade" id="editSummaryModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Edit Summary Entry</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <!-- Form Contents -->
                <div class="modal-body">
                    <form method="post">
                        {{ form.csrf_token }}
                        <div class="form-group modal-id">
                            {{ wtf.form_field(eform.id) }}
                        </div>
                        <div class="form-group modal-name">
                            {{ wtf.form_field(eform.name) }}
                        </div>
                        <div class="form-group modal-description">
                            {{ wtf.form_field(eform.description) }}
                        </div>
                        <div class="form-group">
                            <input class="btn btn-primary" type="submit" name="submit_button"
                                value="Save Changes"></input>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}