{% extends "navbar.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block scripts %}

{{super()}}

<script>
    $('#editExperienceModal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget) // Button that triggered the modal
        var id = button.data('id')
        var workplace = button.data('workplace') // Extract info from data-* attributes
        var location = button.data('location')
        var sort = button.data('sort')
        var title = button.data('title')
        var start_date = button.data('start_date')
        var end_date = button.data('end_date')
        var description = button.data('description')
        var modal = $(this)

        modal.find('.modal-id input').val(id)
        modal.find('.modal-workplace input').val(workplace)
        modal.find('.modal-location input').val(location)
        modal.find('.modal-sort select').val(sort)
        modal.find('.modal-title input').val(title)
        modal.find('.modal-start_date input').val(start_date)
        modal.find('.modal-end_date input').val(end_date)
        modal.find('.modal-description textarea').val(description)
    })
</script>

{% endblock scripts %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-lg">
            <h2>Work Experience</h2>
            <h5 style="color:red;">Description White Space Preserved. Use Additional Line Breaks ('Enter'), to Format </h5>
        </div>
    </div>

    <div class="row">
        <div class="col-lg">
            <table id="table" class="table table-hover">

                <!-- Table Header -->
                <thead class="thead-light">
                    <tr>
                        <th>
                            Workplace
                        </th>
                        <th>
                            Type
                        </th>
                        <th>
                            Title
                        </th>
                        <th>
                            Start Date
                        </th>
                        <th>
                            End Date
                        </th>
                        <th>
                            Active
                        </th>
                        <th>
                            Edit
                        </th>
                        <th>
                            Delete
                        </th>
                    </tr>
                </thead>
                <tbody>

                    {% for e in experience %}
                    <tr>
                        <td>
                            {{e.workplace}}
                        </td>
                        <td>
                            {{e.sort}}
                        </td>
                        <td>
                            {{e.title}}
                        </td>
                        <td>
                            {{e.start_date.strftime('%d/%m/%Y')}}
                        </td>
                        <td>
                            {{e.end_date.strftime('%d/%m/%Y')}}
                        </td>
                        {% if e.active %}
                        <td>
                            <a class="btn btn-warning" href="{{url_for('experiences.inactivateExperience', id=e.id)}}"
                                role="button">Inactivate</a>
                        </td>
                        {% else %}
                        <td>
                            <a class="btn btn-success" href="{{url_for('experiences.activateExperience', id=e.id)}}"
                                role="button">Activate</a>
                        </td>
                        {% endif %}
                        <td>
                            <btn class="btn-dark btn" data-toggle="modal" data-target="#editExperienceModal"
                                data-workplace="{{e.workplace}}" data-sort="{{e.sort}}" data-title="{{e.title}}"
                                data-start_date="{{e.start_date.strftime('%d/%m/%Y')}}"
                                data-end_date="{{e.end_date.strftime('%d/%m/%Y')}}" data-description="{{e.description}}"
                                data-id="{{e.id}}" data-location="{{e.location}}">
                                Edit
                            </btn>
                        </td>
                        <td>
                            <a class="btn btn-danger" href="{{url_for('experiences.deleteExperience', id=e.id)}}"
                                role="button">Delete</a>
                        </td>
                    </tr>
                    {% endfor %}

                </tbody>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col-sm">
            <btn class="btn-primary btn" data-toggle="modal" data-target="#addExperienceModal">
                Add Experience
            </btn>
        </div>
    </div>

    <div class="modal fade" id="addExperienceModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add Work Experience Entry</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <!-- Form Contents -->
                <div class="modal-body">
                    <form method="post">
                        {{ form.csrf_token }}
                        <div class="form-group">
                            {{ wtf.form_field(form.workplace) }}
                        </div>
                        <div class="form-group">
                            {{ wtf.form_field(form.location) }}
                        </div>
                        <div class="form-group">
                            {{ wtf.form_field(form.sort) }}
                        </div>
                        <div class="form-group">
                            {{ wtf.form_field(form.title) }}
                        </div>
                        <div class="form-group">
                            {{ wtf.form_field(form.start_date) }}
                        </div>
                        <div class="form-group">
                            {{ wtf.form_field(form.end_date) }}
                        </div>
                        <div class="form-group">
                            {{ wtf.form_field(form.description) }}
                        </div>
                        <div class="form-group">
                            <input class="btn btn-primary" type="submit" name="submit_button"
                                value="Add Experience"></input>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>



    <div class="modal fade" id="editExperienceModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Edit Work Experience Entry</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <!-- Form Contents -->
                <div class="modal-body">
                    <form method="post">
                        {{ form.csrf_token }}
                        <div class="form-group modal-id">
                            {{ wtf.form_field(eform.id) }}
                        </div>
                        <div class="form-group modal-workplace">
                            {{ wtf.form_field(eform.workplace) }}
                        </div>
                        <div class="form-group modal-location">
                            {{ wtf.form_field(eform.location) }}
                        </div>
                        <div class="form-group modal-sort">
                            {{ wtf.form_field(eform.sort) }}
                        </div>
                        <div class="form-group modal-title">
                            {{ wtf.form_field(eform.title) }}
                        </div>
                        <div class="form-group modal-start_date">
                            {{ wtf.form_field(eform.start_date) }}
                        </div>
                        <div class="form-group modal-end_date">
                            {{ wtf.form_field(eform.end_date) }}
                        </div>
                        <div class="form-group modal-description">
                            {{ wtf.form_field(eform.description) }}
                        </div>
                        <div class="form-group">
                            <input class="btn btn-primary" type="submit" name="submit_button"
                                value="Save Changes"></input>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}